@media screen and (max-width: 768px) {
    * {
        margin: 0%;
        padding: 0%;
        font-family: 'Lato', sans-serif;
    }
    
    .header {
        /* border: solid white; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        width: auto;
        height: 100px;
        background-color: #17171E;
    }
    header figure {
        /* border: solid white; */
        display: flex;
        justify-content: center;
        width: 25rem;
        height: 1.7rem;
    }
    .ul {
        /* border: solid white; */
        display: flex;
        /* justify-content: space-around; */
        width: 20rem;
        color: white;
        font-size: 19px;
        
    }
    li {
        list-style: none;
    }
    .search {
        /* border: solid white; */
        display: flex;
        justify-content: center;
        width: 25rem;
        margin-left: 1.6%;
    }
    input {
        width: 23rem;
        height: 2.5rem;
        border: 0.5px solid white;
        border-radius: 50px;
        background-color: #17171E;
        color: white;
        padding-left: 5%;
        font-size: 19px;
    }
}
