h2 {
    text-decoration: underline;
}
h3 {
    font-style: italic;
}
p::first-letter {
    text-align: justify;
    margin-left: 15px;
}
ol {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    margin: 0%;
}
li {
    width: 14.2%;
    list-style: none;
    text-align: center;
}
li a:hover {
    border-bottom: solid 1px;
}
li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
}