.divTrapezeBanner {
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    background-color: rgb(239, 239, 238);
}

.containerBanner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15rem;
}

.textBanner {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}

.textBanner h1 {
    font-size: 50px;
    padding-top: 13vh;
}

.divBanner {
    display: flex;
    align-items: center;
    width: 65%;
}

.divBannerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divBannerButton Button {
    background: rgb(163, 130, 108);
    border: none;
    width: 60%;
    margin-bottom: 5%;
    border-radius: 5px;
    height: 4vh;
}

.divBannerButton Button:hover {
    background: rgb(163, 120, 98);
    border: none;
}

.divBannerButton a {
    text-decoration: none;
    color: white;
}

.divBannerImage {
    display: flex;
    justify-content: center;
}

.divBannerImage img {
    width: 100%;
    border-radius: 5%;
}

@media screen and (max-width: 1400px) {
    .divBanner {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .divBanner {
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    .divBanner {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .textBanner h1 {
        font-size: 30px;
    }

    .divBannerButton Button {
        width: 75%;
    }

    .divBanner {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .textBanner h1 {
        font-size: 30px;
    }

    .divBannerButton Button {
        width: 75%;
    }

    .divBanner {
        width: 75%;
    }

    .divBannerImage {
        padding-top: 5vh;
    }
}

@media screen and (max-width: 460px) {
    .divBanner {
        width: 85%;
    }
}