Form {
    display: flex;
    flex-direction: column;
}

.divNames {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3vh;
}

label {
    color: red;
}

.divButton {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.divButton button {
    background: rgb(163, 130, 108);
    border: none;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    height: 5rem;
    color: white;
    border-radius: 5px;
}

.divButton Button:hover {
    background: rgb(163, 120, 98);
    border: none;
}