.slider-container {
    text-align: center;
    padding-bottom: 15vh;
}


.slick-prev:before,
.slick-next:before {
    color: rgb(190, 167, 152);
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
}

.slick-next {
    right: 3% !important;
    z-index: 1;
}

.titleCarousel {
    width: 20rem;
}

.textCarousel {
    width: 20rem;
}