.containerFirstScrollEmbroidery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.cardFirstScrollEmbroidery {
    width: 30vw;
    min-width: 30rem;
    border: none !important;
    margin-bottom: 5vh;
}

.titleFirstScrollEmbroidery {
    font-size: 50px;
    margin-bottom: 4vh;
}

.textFirstScrollEmbroidery {
    font-size: 19px;
    font-weight: lighter;
}

.imgFirstScrollEmbroidery {
    width: 30vw;
    min-width: 30rem;
    height: 50vh;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .cardFirstScrollEmbroidery {
        width: 100%;
        min-width: 0;
        border: none !important;
    }

    .imgFirstScrollEmbroidery {
        width: 100%;
        min-width: 0;
    }
}