.navBar {
    display: flex;
    justify-content: center;
}
.navBar ul {
    border: solid 1px;
    display: flex;
    width: 50rem;
    
}
.navBar ul div {
    border: solid 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}
.navBar li {
    list-style: none;
    padding: 5%;
    margin: 5%;
    width: 10rem;
}
.navBar li a {
    text-decoration: none;
}